@model ASPNETIdentity2Sample.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>アカウント設定の変更</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>パスワード:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("パスワードの変更", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("作成", "SetPassword")
            }
            ]
        </dd>
        <dt>外部ログイン:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("管理", "ManageLogins") ]
        </dd>
        @*
            2 要素認証システムでの検証の 2 番目の要素として、電話番号を使用できます。
             
             SMS を使用する 2 要素認証をサポートするように、この ASP.NET アプリケーションを
                設定する方法の詳細については、<a href="https://go.microsoft.com/fwlink/?LinkId=403804">この資料</a>を参照してください。
             
             2 要素認証を設定した後、次のブロックのコメントを解除します
        *@
        <dt>電話番号:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="削除" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;</text>@Html.ActionLink("Add", "AddPhoneNumber")<text>&nbsp;&nbsp;]</text>
            }
        </dd>
        
        <dt>2 要素認証:</dt>
        <dd>
            <p>
                2 要素認証プロバイダーが構成されていません。2 要素認証をサポートするように、この ASP.NET アプリケーションを
                設定する方法の詳細については、<a href="https://go.microsoft.com/fwlink/?LinkId=403804">この資料</a>を参照してください。
            </p>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>有効
                    <input type="submit" value="無効にする" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>無効
                    <input type="submit" value="有効にする" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
    </dl>
</div>
